html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
  word-spacing: -0.15em;
}



*,
*::after,
*::before {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 200ms ease;
}

i {
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Estedad Thin";
    src: url("/fonts/Estedad/woff2/Estedad-Thin.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Estedad Light";
    src: local("Estedad Light"),
      url("/fonts/Estedad/woff2/Estedad-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Estedad Medium";
    src: local("Estedad Medium"),
      url("/fonts/Estedad/woff2/Estedad-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Estedad Bold";
    src: local("Estedad Bold"),
      url("/fonts/Estedad/woff2/Estedad-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Mikhak-woff2-1";
    src: url("/fonts/Mikhak/woff2/Mikhak-VF-FD.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dirooz";
    src: url("/fonts/Dirooz/Dirooz.woff2") format("woff2");
    font-display: swap;
  }
}

@layer components {
  .overlay {
    @apply lg:hidden invisible opacity-0 fixed inset-0 w-full h-full bg-black/40 z-20 transition-all backdrop-blur-[4px];
  }

  .overlay--visible {
    @apply visible opacity-100;
  }

  
  .breadcrumb {
    display: flex;
    height: 5.2rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1rem;
    @apply bg-light-blue-700/40 dark:bg-darkBox text-darkColor dark:text-white/80
  }

  .breadcrumb__item:first-child {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
  }

  .breadcrumb__item {
    position: relative;
    display: flex;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    padding-left: 1rem;
    padding-right: 4rem;
  }

  .breadcrumb__item::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 4.3rem;
    width: 7px;
    transform: rotate(-35deg);
    transform-origin: bottom;
    @apply bg-blue-gray-50 dark:bg-darkColor
  }

  .breadcrumb__item::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    height: 4.3rem;
    width: 7px;
    transform: rotate(35deg);
    transform-origin: top;
    @apply bg-blue-gray-50 dark:bg-darkColor
  }

  .breadcrumb__item:last-child::after {
    display: none;
  }
  .breadcrumb__item:last-child::before {
    display: none;
  }

  .button-primary {
    background-color: #3772ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 3rem;
    border-radius: 0.3rem;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    gap: 1rem;
    letter-spacing: -1px;
    color: #fff;
  }

  .button-primary:hover {
    background-color: transparent;
    box-shadow: 0 0 14px 3px #3772ff inset;
    color: #3772ff;
  }

  .shadowLightBlue {
    box-shadow: 3px 0 8px 1px #039be5;
  }

  .sort-btn--active {
    color: #ad7ffd;
    border-top: 2px solid #ad7ffd;
    border-bottom: 2px solid #ad7ffd;
    padding: 1.6rem 0;
  }
}



@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .ltr-text {
    direction: ltr;
    text-align: left;
  }

  .main-header__dropdown {
    opacity: 0;
    visibility: hidden;
  }

  .main-header__item:hover .main-header__dropdown {
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
  }

  .courses-top-bar__selection-list {
    opacity: 0;
    visibility: hidden;
  }

  .courses-top-bar__selection:hover .courses-top-bar__selection-list {
    visibility: visible;
    opacity: 1;
  }

  .bg-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/images/landing/background_landing.jfif) no-repeat center center;
  }

  .active {
    background-color: #0288d1;
  }
  .courses-top-bar__icon--active {
    color: var(--white-color);
    background-color: #1e83f0;
  }
  .courses-top-bar__selection-item--active {
    color: #039be5 !important;
  }

  .courses__pagination-link--active {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  .textDark {
    color: #111827;
  }
}
